* {
  margin: auto;
  box-sizing: border-box;
  padding: 0;
  border: 0;
  max-width: 1400px;
}

body {
  background-color: hwb(0 85% 15%);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2%;
}
.navbar .section {
  margin: auto;
}
.navbar h1 {
  margin-left: 80px;
}
.navbar h1 span {
  color: #ff8f52;
}
.shop{
  color: #000;
}

.icons {
  margin-right: 50px;
}

ul {
  list-style-type: none;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
ul li {
  list-style-type: none;
}
ul li a {
  display: block;
  padding: 5px 0;
  margin: 0 30px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  letter-spacing: 4px;
}
ul li a:hover {
  color: #ff8f52;
  font-size: 20px;
}

.hero {
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .text {
  font-size: 20px;
  width: 305px;
}
.hero .grid_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 700px;
  gap: 10px 10px;
}
.hero .grid_container .single_image {
  padding: 10px 10px;
  border-radius: 20px;
}

.heading {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading .title {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
.heading .title::before,
.heading .title::after {
  content: "";
  height: 2px;
  background-color: rgb(103, 96, 96);
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.products-container {
  display: flex;
}
.products-container .box {
  display: flex;
  flex-direction: column;
  height: 300px;
  background-color: #eeeeee;
  border: 5px solid #dadada;
  border-radius: 25px;
}
.products-container .box p {
  color: #ff8f52;
}
.products-container .box h3 {
  font-size: 20px;
  align-items: center;
}
.products-container .box .cart {
  width: 100%;
  display: flex;
}
.products-container .box img {
  width: 250px;
  height: 220px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  padding: 20px 20px 0px 20px;
}

.post_header {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post_header .text1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  -moz-column-gap: 1.6rem;
       column-gap: 1.6rem;
}
.post_header .text1::before,
.post_header .text1::after {
  content: "";
  height: 2px;
  background-color: rgb(103, 96, 96);
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.post_container {
  display: flex;
}
.post_container .post {
  display: flex;
  flex-direction: column;
  height: 400px;
  background-color: #eeeeee;
  border: 10px solid #dadada;
  border-radius: 25px;
}
.post_container .post img {
  width: 400px;
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  padding: 20px 20px 0px 20px;
  border-radius: 30px;
}
.post_container .post span {
  text-align: center;
  font-size: 15px;
  color: grey;
}
.post_container .post h3 {
  text-decoration: underline;
}

.main_content {
  width: 1400px;
  display: flex;
  justify-content: space-between;
  background-color: black;
  height: 250px;
  margin-top: 50px;
}
.main_content .left_box {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 400px;
  gap: 5px;
}
.main_content .left_box h2 {
  text-decoration: underline;
  font-style: italic;
  color: rgb(239, 229, 229);
}
.main_content .left_box h2 span {
  color: #ff8f52;
}
.main_content .left_box .content p {
  text-align: center;
  font-size: 17px;
  color: rgb(239, 229, 229);
}

.center_box {
  display: flex;
  flex-direction: column;
}
.center_box h2 {
  font-style: italic;
  color: rgb(239, 229, 229);
  text-decoration: underline;
}
.center_box ul {
  display: flex;
  flex-direction: column;
}
.center_box ul li {
  font-size: 17px;
  color: rgb(239, 229, 229);
}

.social {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social h2 {
  color: rgb(239, 229, 229);
  text-decoration: underline;
  font-style: italic;
}
.social .social_links {
  padding: 5px;
  display: flex;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
}
.contact h2 {
  font-style: italic;
  color: rgb(239, 229, 229);
  text-decoration: underline;
}
.contact .links {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.contact .links .text {
  text-decoration: none;
  font-size: 17px;
  color: rgb(239, 229, 229);
}